
<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <link href="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css" rel="stylesheet" type="text/css">

    <script src="//cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
    <script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>
 
    <link rel="stylesheet" href= "{{ url_for('static',filename='leaflet/leaflet.css') }}" >
    <script src="{{ url_for('static',filename='leaflet/leaflet.js') }}"></script>

    <link rel="stylesheet" href= "{{ url_for('static',filename='display.css') }}" >

    <title>Income Predictions</title>

    <!-- 
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>
    -->
    
	
</head>
<body>

{{ lineplot_script | safe }} 
{{ barplot_script | safe }}

<div class="container theme-showcase" role = "main">
    <div class="jumbotron">
        <h1>Predicting Income By State</h1>
        <p>Using income tax return data from the IRS, we can predict per-person income on a state-by-state basis.</p>
    </div>
 
    <div class="row">
        <div class="col-md-8" id="mapid"></div>

        <div class="col-md-4"> <div class="page">{{ lineplot_div | safe }}</div> </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">The States You Have Selected</h3>
            <p>Use the map to select some states. Then click Submit.</p>
        </div>
        <div class="panel-body" id = 'selected_states'>
        </div>
        <form id='state_submit' method = 'post' action="index.html">
          <input type="hidden" name="states" value="state_list" id='submitted_states'>
          <input type="submit" value="Submit">
        </form> 
    </div><!-- /panel -->

    <div class="row">
        <div class="col-md-8"> <div class="page"> {{ barplot_div | safe }} </div> </div>
        <div class="col-md-4"> <h3>There are two important conclusions from these correlations:</h3>
            <p><h4>1) More people make more money (even per person!).</h4></p>
            <p><h4>2) Negative correlations between income and EVERY other feature (measured as a fraction of income). We can guess that many of these are essentially fixed dollar amounts, and so the fraction of income you spend on them always goes down as you make more.</h4></p></div>
    </div>

    
</div> <!-- /container -->
    
    
<script type="text/javascript" src="{{ url_for('static',filename='us-states.js') }}"></script>
<!--<script type="text/javascript" src="us-states.js"></script>-->
    
<script>

    var selected = [];
    var states_list = [];
    
    
    
	var mymap = L.map('mapid').setView([37, -95.7], 3.5);

	L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 18,
		attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
		id: 'mapbox.streets'
	}).addTo(mymap);


        
	function getColor(d) {
		return '#40e0d0';
	}

	function style(feature) {
		return {
			weight: 2,
			opacity: 1,
			color: 'white',
			dashArray: '3',
			fillOpacity: 0.7,
			fillColor: getColor(feature.properties.density)
		};
	}

	function highlightFeature(e) {
		var layer = e.target;

		layer.setStyle({
			weight: 5,
			color: '#666',
			dashArray: '',
			fillOpacity: 0.7
		});

		if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
			layer.bringToFront();
		}

	}
       
 	var geojson;

	function resetHighlight(e) {
        setStyle(e.target)
	}

	function clickFeature(e) {
        var layer = e.target;
        toggleSelected(layer);
        setStyle(layer);
        updateList();
	}    
    
    
    
	function setStyle(layer) {
        var index = selected.indexOf(layer);
        if(index > -1){
            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });
            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }
        } else {
            geojson.resetStyle(layer);
		}
	}

        
    function toggleSelected(layer) {
        var index = selected.indexOf(layer);
        if(index > -1){
          selected.splice(index, 1);
        } else {
          selected.push(layer);
        }
    }
    
    function updateList() {
        states_list = []
        for (i = 0; i < selected.length; i++) {
            states_list.push(selected[i].feature.properties.name);
        } 
        document.getElementById("selected_states").innerHTML = states_list;
    }
    

	function onEachFeature(feature, layer) {
		layer.on({
			mouseover: highlightFeature,
			mouseout: resetHighlight,
			click: clickFeature
		});
	}

	geojson = L.geoJson(statesData, {
		style: style,
		onEachFeature: onEachFeature
	}).addTo(mymap);
    
    
    document.getElementById('state_submit').onsubmit = function() {
        document.getElementById('submitted_states').value = states_list;
    };
    
    
    {{ script | safe }}
    geojson.eachLayer(function(layer){
        var name = layer.feature.properties.name;
        if(states_list.indexOf(name) > -1){
           selected.push(layer);
           setStyle(layer);
        }
    });
    
    updateList();

    
</script>



</body>
</html>
